.container {
  width: 100%;
  min-width: 320px;
  max-width: 1366px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: $vp-768) {
    padding-right: 45px;
    padding-left: 45px;
  }

  @media (min-width: $vp-1366) {
    padding-right: 103px;
    padding-left: 103px;
  }
}
