// Colors

$transparent: rgba(0, 0, 0, 0);
$color-resolution-blue: #1c3477;
$color-resolution-blue-inner: #1a3578;
$color-pompadour: #73184b;
$color-venetian-red: #b4022a;
$color-crimson: #d10a42;
$color-cobalt-gradient: #0041ca;
$color-white: #ffffff;
$color-chost-white: #f8f9fc;
$color-grey: #787878;
$color-tory-blue: #102654;
$color-torch-red: #ed0233;
$color-cobalt: #003eb7;
$color-egyptian-blue: #103aae;
$color-smalt: #00359f;
$color-resolution-blue-link: #1c3374;
$color-light-slate-grey: #74819c;
$color-persian-blue: #2e35ac;
$color-black-russian: #030a1a;
$color-black: #000000;
$color-whisper: #e8e8e8;
$color-link-water: #c8c9cc;
$color-gluf-blue: #2a3b63;
$color-spindle: #b6bdcc;
$color-torch-red-error: #ff121f;


// Viewports

$vp-768: 768px;
$vp-1366: 1366px;

// Fonts

$ff-roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$ff-alumni-sans: "Alumni Sans", "Arial", sans-serif;
